body{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
}
.header-content{
    padding: 0;
    margin: 0;
    width: 120;
    display: flex;
    /* justify-content: center; */
    /* background-color: aqua; */
}
.header-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    /* background-color: blueviolet; */
}
.header-image{
    width: 30%;
    /* background-color: aquamarine; */
    display: inline-block;
    padding: 10px 10px 10px 10px;
}
.header-image img{
    width: 100%;
}
.header-nav{
    width: 100%;
    padding: 10px 10px 10px 10px;
}
.header-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header-nav ul{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
    overflow: hidden;
}
/* .header-menu li{
    width: ;
} */
.header-menu li a{
    text-decoration: none;
}